/* max width 1,024px */
@media only screen and (max-width: 64em) {
	html {
		font-size: 55%;
	}
}

/* max width 992px */
@media only screen and (max-width: 62em) {
	html {
		font-size: 52%;
	}

	.nav {
		padding-right: 2rem;
		width: 100%;
	}

	.service-img,
	.marketing .service-img {
		position: relative;
		margin: 0 auto;
		width: 100%;
	}

	.service-content {
		padding: 0 0 8rem 0;
	}

	.service-section,
	.marketing-section,
	.strategy-section,
	.technology-section,
	.corporate-section {
		padding: 0rem 0;
	}

	.marketing-section,
	.strategy-section,
	.technology-section,
	.corporate-section {
		/* padding: 30rem 0; */
	}
}

/* max width 768px */
@media only screen and (max-width: 48em) {
}

/* max width 575px */
@media only screen and (max-width: 35.9375em) {
	.container {
		padding: 0 5rem;
	}

	html {
		font-size: 45%;
	}

	.dots-nav .btn-dot {
		height: 1rem;
		width: 1rem;
	}

	.dots-nav {
		right: 1.5rem;
	}

	.popup-item {
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;
	}

	.popup-content {
		height: 100vh;
	}
	.popup-content h2 {
		font-size: 3.6rem;
	}

	.marketing-section,
	.strategy-section,
	.technology-section,
	.corporate-section {
		margin: 6rem 0;
	}
}

/* max width 480px */
@media only screen and (max-width: 30em) {
	.cotact-item {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
	}
	.cotact-item input {
		text-align: start;
	}
}

/* max width 380px */
@media only screen and (max-width: 23.75em) {
	/* html {
		font-size: 40%;
	} */
}
